*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  display: grid;
  place-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  gap: 30px;
  display: flex;
  min-width: 1140px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color:  transparent;
  color: white;
  inline-size: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  padding: 3px 0;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  outline: 1px solid white;
  border: none;
}

.search-form__textfield:focus {
  outline: none;
}

 .search-form__textfield:focus-visible {
  outline: none;
}  

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  border: 1px solid white;
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;

  /* Выровнил содержимое обертки чекбоксов,
  чтобы верхнее и нижнее расстояние фокуса были однотипными свойством margin,
  Вы указали эту ошибку на 88 строке кода, там не смог исправить, так как тогда
  получали все элементы отступ, а не только чекбоксы */

  margin: 2px 0;
}

.search-form__label-text {
  margin-left: 5px;
}

/* Чтобы подчеркивание текста работало при наведении и на чекбокс и на текст
и при этом не затрагивало текст placeholder в поле ввода при :hover */

.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

 .search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
} 

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: white;
  background-color:  transparent;
  border: 1px solid white;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
  margin: 1px 0 0 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  inline-size: 100%;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-x: hidden;
  margin-top: 26px;
}

/* Стилизация для скроллбара: */

.content__list::-webkit-scrollbar {
  width: 5px;
  padding: 10px;
}

.content__list::-webkit-scrollbar-track {
  background-color: #545050;
  border-radius: 30px;
  
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: white;
}

.content__list-item{
  margin-left: 5px; 
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
}

.more-button {

  /* Значение inline-size: 99%; так как при 100% обводка кнопки в состоянии :focus-visible
  закрывается скроллбаром */

  inline-size: 99%;
  padding: 6px 0;

  /* Добавил margin для того чтобы обводка в состоянии :focus-visible
  была видна целиком */
  
  margin: 5px;
} 